<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Profile Cards</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/profile.css" />
  </head>
  <body>
      <!-- you can easily turn the "li" into a button using the "onclick" js function -->
  <header>
    <nav>
      <ul>
        <div class="selectedLink">
          <div class="side left"></div>
          <div class="side right"></div>
          <div class="outside left"></div>
          <div class="outside right"></div>
          <div class="dot"></div>
        </div>
        <li data-active="false"><a href="../../index.html">Home</a></li>
        <li data-active="true"><a href="profile.html">Profile Cards</a></li>
        <li data-active="false"><a href="courses.html">Courses</a></li>
      </ul>
    </nav>
  </header>
  <!-- end navbar -->
    <div class="container">
<ul>



 <li>
    <div class="details">
      <h2>Yassin</h2>
      <p><a href="https://yassin14.w3spaces.com">My Website</a></p>
      <div class="product">
        <img src="../images/profile/hasan.jpg">
      </div>
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Karma</h2>
     <p><a href="https://karma781.w3spaces.com">My Website</a></p>
      <div class="product">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/threadless14.jpg">
      </div>
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Rahaf</h2>
<p><a href="https://rahaf781.w3spaces.com">My Website</a></p>
      <div class="product">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/threadless12.jpg">
      </div>
    </div>
  </li>
  <li>
    <div class="details">
      <h2>Yamen</h2>
    <p><a href="https://yamen10.w3spaces.com">My Website</a></p>
      <div class="product">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/threadless12.jpg">
      </div>
    </div>
  </li>
</ul>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="../js/profile.js"></script>
  </body>
</html>