<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>HTML Images</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/html/images.css" />
  </head>
  <body>
      <!-- you can easily turn the "li" into a button using the "onclick" js function -->
  <header>
    <nav>
      <ul>
        <div class="selectedLink">
          <div class="side left"></div>
          <div class="side right"></div>
          <div class="outside left"></div>
          <div class="outside right"></div>
          <div class="dot"></div>
        </div>
        <li data-active="false"><a href="../../../index.html">Home</a></li>
        <li data-active="false"><a href="../profile.html">Profile Cards</a></li>
        <li data-active="true"><a href="../courses.html">Courses</a></li>
      </ul>
    </nav>
  </header>
  <!-- end navbar -->
    <div class="container">
            <!-- breadcrumb -->
            <div aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../courses.html">Courses</a></li>
                <li class="breadcrumb-item active" aria-current="page">HTML Images</li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
              </ol>
            </div>
      <!-- breadcrumb -->
        <div class="video_container row">
            <div class="card">
                <!-- <h2 class="card__title">HTML is very easy</h2> -->
                <img class="card__img" src="../../images/html/fun1.jpg" alt="image not found">
                <a class="card__btn btn" href="../../images/html/fun1.jpg" download>Download Images</a>
              </div>
            <div class="card">
                <h2 class="card__title">HTML</h2>
                <img class="card__img" src="../../images/html/html_struc1.jpg" alt="image not found">
                <p class="card__text">HTML is the standard markup language for Web pages.</p>
                <a class="card__btn btn" href="../../images/html/html_struc1.jpg" download>Download Images</a>
              </div>
            <div class="card">
                <h2 class="card__title">head and body</h2>
                <img class="card__img" src="../../images/html/head_body1.jpeg" alt="image not found">
                <a class="card__btn btn" href="../../images/html/head_body1.jpeg" download>Download Images</a>
              </div>
            <div class="card">
                <h2 class="card__title">head and body</h2>
                <img class="card__img" src="../../images/html/head_body2.jpeg" alt="image not found">
                <a class="card__btn btn" href="../../images/html/head_body2.jpeg" download>Download Images</a>
              </div>
            <div class="card">
                <h2 class="card__title">File Extension</h2>
                <img class="card__img" src="../../images/html/file_ext2.jpg" alt="image not found">
                <a class="card__btn btn" href="../../images/html/file_ext2.jpg" download>Download Images</a>
              </div>
            <div class="card">
                <h2 class="card__title">anchor element</h2>
                <img class="card__img" src="../../images/html/anchor.jpg" alt="image not found">
                <a class="card__btn btn" href="../../images/html/anchor.jpg" download>Download Images</a>
              </div>
            <div class="card">
                <h2 class="card__title">image element</h2>
                <img class="card__img" src="../../images/html/image_tag.jpg" alt="image not found">
                <a class="card__btn btn" href="../../images/html/image_tag.jpg" download>Download Images</a>
              </div>
            <div class="card">
                <h2 class="card__title">Inline vs  Block </h2>
                <img class="card__img" src="../../images/html/inline_block.jpg" alt="image not found">
                <a class="card__btn btn" href="../../images/html/inline_block.jpg" download>Download Images</a>
              </div>
        </div>
    </div>
    <div class="wrapper">
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
      </div>
  
      </body>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="../../js/html/images.js"></script>
  </body>
</html>